* {
    margin: 0px;
    padding: 0px;
}
#formContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

nav {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 600s ease infinite;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-right: 50px;
}

li {
    padding: 20px;
}

li:hover {
    background-color: rgba(128, 0, 0, 0.349);
    cursor: pointer;
}

a {
    text-decoration: none;
    color: ivory;
}

/* Dropdown Button */
.dropbtn {
    background-color: none;
    font-weight: 800;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
#dropdown:hover .dropdown-content {
    display: block;
}

.selectionContainer {
    display: flex;
    width: 80%;
    padding-left: 10%;
    padding-top: 20px;
}

.selectionWindow {
    display: flex;
    justify-content: center;
    color: ivory;
    width: 33.33%;
    height: 100%;
    align-items: center;
    font-size: xx-large;
    border: 2px solid lavender;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 30s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.selectionWindow:hover {
    background: linear-gradient(-45deg, pink, hotpink, deeppink, crimson);
    border: 4px outset;
    cursor: pointer;
    border-color: aquamarine;
}

.regularDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.regularDiv>* {
    padding: 20px;
}

#customerForm {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 2px solid black;
    margin: 20px;
    border-radius: 20px;
    align-items: center;
    width: 40%;
}

#customerForm> * {
    width: 60%;
    padding: 5px;
}
#createCustomerBtn {
    padding: 10px;
    margin: 10px;
    background-color: black;
    color: aqua;
    cursor: pointer;
    font-size: large;
}
#createCustomerBtn:hover {
    background: linear-gradient(-45deg, black, #0f0505, #1d1c06, #041f18);
}

#tblWrap {
    display: flex;
    justify-content: center;
}

#tblContainer{
    display: flex;
    justify-content: center;
    max-height: 400px;
    overflow: auto;
}

#tbl  {
    border-collapse: collapse;
    margin-top: 20px;
}

#tbl > th, td {
    padding: 20px;
    border: black 2px solid;
    border-collapse: collapse;
    width: 100px;
}